1. i) Split the class randomly into two groups with one in a small class & one in a large class. ii) There could perhaps be less one on one attention in larger classes. iii) No, the teachers could be trained better in these settings; we don't have all the information.
2.

In [2]:
import wooldridge as econ
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

In [12]:
econ.data('WAGE1',description=True)

name of dataset: wage1
no of variables: 24
no of observations: 526

+----------+---------------------------------+
| variable | label                           |
+----------+---------------------------------+
| wage     | average hourly earnings         |
| educ     | years of education              |
| exper    | years potential experience      |
| tenure   | years with current employer     |
| nonwhite | =1 if nonwhite                  |
| female   | =1 if female                    |
| married  | =1 if married                   |
| numdep   | number of dependents            |
| smsa     | =1 if live in SMSA              |
| northcen | =1 if live in north central U.S |
| south    | =1 if live in southern region   |
| west     | =1 if live in western region    |
| construc | =1 if work in construc. indus.  |
| ndurman  | =1 if in nondur. manuf. indus.  |
| trcommpu | =1 if in trans, commun, pub ut  |
| trade    | =1 if in wholesale or retail    |
| services | =1 if in services indus.        |
| profserv | =1 if in prof. serv. indus.     |
| profocc  | =1 if in profess. occupation    |
| clerocc  | =1 if in clerical occupation    |
| servocc  | =1 if in service occupation     |
| lwage    | log(wage)                       |
| expersq  | exper^2                         |
| tenursq  | tenure^2                        |
+----------+---------------------------------+

These are data from the 1976 Current Population Survey, collected by
Henry Farber when he and I were colleagues at MIT in 1988.

In [11]:
df = econ.data('WAGE1',description=False)

In [10]:
df.head().transpose()

                  0           1          2            3          4
wage       3.100000    3.240000   3.000000     6.000000   5.300000
educ      11.000000   12.000000  11.000000     8.000000  12.000000
exper      2.000000   22.000000   2.000000    44.000000   7.000000
tenure     0.000000    2.000000   0.000000    28.000000   2.000000
nonwhite   0.000000    0.000000   0.000000     0.000000   0.000000
female     1.000000    1.000000   0.000000     0.000000   0.000000
married    0.000000    1.000000   0.000000     1.000000   1.000000
numdep     2.000000    3.000000   2.000000     0.000000   1.000000
smsa       1.000000    1.000000   0.000000     1.000000   0.000000
northcen   0.000000    0.000000   0.000000     0.000000   0.000000
south      0.000000    0.000000   0.000000     0.000000   0.000000
west       1.000000    1.000000   1.000000     1.000000   1.000000
construc   0.000000    0.000000   0.000000     0.000000   0.000000
ndurman    0.000000    0.000000   0.000000     0.000000   0.000000
trcommpu   0.000000    0.000000   0.000000     0.000000   0.000000
trade      0.000000    0.000000   1.000000     0.000000   0.000000
services   0.000000    1.000000   0.000000     0.000000   0.000000
profserv   0.000000    0.000000   0.000000     0.000000   0.000000
profocc    0.000000    0.000000   0.000000     0.000000   0.000000
clerocc    0.000000    0.000000   0.000000     1.000000   0.000000
servocc    0.000000    1.000000   0.000000     0.000000   0.000000
lwage      1.131402    1.175573   1.098612     1.791759   1.667707
expersq    4.000000  484.000000   4.000000  1936.000000  49.000000
tenursq    0.000000    4.000000   0.000000   784.000000   4.000000

In [14]:
# Find the average education level in the sample. What are the lowest and highest years of education?

df['educ'].describe()

count    526.000000
mean      12.562738
std        2.769022
min        0.000000
25%       12.000000
50%       12.000000
75%       14.000000
max       18.000000
Name: educ, dtype: float64

In [15]:
# Find the average hourly wage in the sample. Does it seem high or low?
df['wage'].describe()

count    526.000000
mean       5.896103
std        3.693086
min        0.530000
25%        3.330000
50%        4.650000
75%        6.880000
max       24.980000
Name: wage, dtype: float64

In [16]:
# Obtain CPI from 1976 & 2010
# 56.9 & 218.1

In [17]:
218.1/56.9*5.6

21.465026362038664

In [18]:
df['female'].value_counts()

0    274
1    252
Name: female, dtype: int64